@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #ddddddcd;
}

.main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main .head{
    height: 8vh;
    width: 100%;
    border: 2px solid white;
}
/* .main .left_side{
    height: 84vh;
    width: 75%;
    border: 2px solid white;
} */

.head{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f7f7f7;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    position: sticky ;
    /* top: 0;
    left: 0; */ 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600; 
    color: #000000;
    transition:  0.3s ease;
}

#navbar li a:hover{
    
    color: #21a521;
    transition: transform 0.25s ease-out ;
}
#navbar li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -4px;
    position: absolute;
    left: 0px;
    background: #21a521;
    animation: underlineit 0.3s ease-in-out ;
    
}

#navbar .sbar{
    display: flex ;
    z-index: 2;
}
#navbar .sbar input{
    font-size: 1rem;
    font-weight:600;
    width: 335px;
    height: 32px;
    padding: 0px 8px;
    /* top rigth bottom left */
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}
#navbar .sbar input:focus{
    outline: none;
    width: 700px;
    position: relative;
}
#navbar .sbar ::placeholder{
    position: relative;
    color: #f77842;
    left: 43%;

}

@keyframes underlineit{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* default for all buttons  */
button {
    height: 32px;
    padding: 5px 15px;
    /* background-color: #20dbc2; */
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.main .head button:hover{
    background-color: #f77842;
}

/* container */
.main .container{
    height: 84vh;
    width: 100%;
    border: 2px solid white;
}

.main .container .top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40%;
    margin: 1px;
    border: 1px solid #21a521;
}
.main .container .top img{
    
    height: 80%;
    margin: 0 2%;
    top: 4%;
    border-radius: 50%;
    border: 4px solid #03c7c0;
}

.main .container .top p{
    width: 50%;
    height: 50%;
    overflow: auto;
}
.main .container .top p::-webkit-scrollbar{
    display: none;
}

.main .container .top button{
    margin: 1%;
    height: 40px;
    width: fit-content;
}

.main .container .top #play{
    background-color: #55fff9;
}

.main .container .top #play:hover{
    background-color: #23f1ea;
}
.main .container .top #add:hover{
    border: 1px solid #03c7c0;
}

.main .container .content{
    width: 100%;
    height: 60%;
    border: 1px solid #23f1ea;
    overflow: auto;
}

.main .container .content div{
    width: 100%;
    height: 50%;
    border: 1px solid #f77842;
}

.main .container .content::-webkit-scrollbar{
    display: none;
}


/* queue */

.main .queue{
    /* border: 2px solid #03c7c0; */
    background-color:#f7f7f7;
    position: absolute;
    overflow: auto;
    height: 40px;
    width: 60px;
    left: 48%;
    border: 2px solid #03c7c0;
    border-radius: 8px;
    bottom:calc(8vh - 4px) ;
    /* bottom:8vh; */

    
    transition:all 0.5s ease-in-out;
}

.main .queue:hover{
    left: 35%;
    width: 30%;
    height:70vh;
}

.main .queue::-webkit-scrollbar{
    display: none;
}

.main .queue .queue_head{
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    border-bottom:1px solid #cdcdcd;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: #f7f7f7;
    
}

.main .queue .queue_head h3{
    position: absolute;
    top: 9px;
    left: 3%;
}

.main .queue .queue_head .queue_buttons{
    display: none;
    /* display: block; */
    position: absolute;
    top: 7px;
    right: 2%;
}

.main .queue:hover .queue_buttons{
    display: block;
}
/* change in queue buttons on hovering queue */

.main .queue .queue_head button{
    height: 25px;
    padding: 5px 12px;
    border: 1px solid #cdcdcd ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main .queue .queue_head .add{
    background-color: #55fff9;
}

.main .queue .queue_head .add:hover{
    background-color: #23f1ea;
}

.main .queue .queue_head .remove:hover{
    border: 1px solid #55fff9 ;   
}

.main .queue li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 4px;
    
}

.main .queue li img{
    height: 40px;
    width: 40px;
}

.main .queue li div{
    width: 75%;
}

.main .queue li h5{
    padding: 1px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* for showing dots */
    white-space: nowrap;
}

.main .queue li i{
    font-size: 20px;
}

/* music player */

.main .music_player{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    border: 2px solid white;
    background-color: #f7f7f7;
    box-shadow: 0 -5px 15px rgb(0,0,0,0.6);
    position: sticky ;
}

.music_player img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin: 4px;
}

.music_player .song_detail{
    display: flex;
    align-items: center;
}

 .music_player .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    min-width:175px;
 }

 .music_player .icons .play{
    font-size: 30px;
 }

 .music_player .icons .bi{
    
 }

 .music_player .bi-repeat{
    
 }
 .music_player .bi-repeat-1{  
    display: none;
 }
 .music_player .bi-shuffle{
    display: none;
 }
 .music_player .bi-pause-fill{
    display: none;
 }
 .music_player .bi-play-fill{
    
 }


 .music_player .music_time{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin:0 2px;
 }
 .music_player .progress_bar{
    position: relative;
    height: 2px;
    width: 90%;
    background-color:#cdcdcd;
    border-radius: 5px;
    margin: 0 1%;
 }

 .music_player .progress_bar .bar{
    position: absolute;
    height: 2px;
    width:64%;
    border-radius: 5px;
    background-color:#03c7c0;
 }

 .music_player .progress_bar .bar .point{
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #03c7c0;
    box-shadow: 1px 0 2px rgba(49, 199, 249, 0.6);
    top: -1.4px;
    right: -1px;
    
 }
