@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #ddddddcd;
}

.main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.main .head{
    height: 8vh;
    width: 100%;
    border: 2px solid white;
}
/* .main .left_side{
    height: 84vh;
    width: 75%;
    border: 2px solid white;
} */

.head{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #f7f7f7;
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    position: sticky ;
    /* top: 0;
    left: 0; */ 
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 15px;
}

#navbar li a{
    position: relative;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600; 
    color: #000000;
    transition:  0.3s ease;
}

#navbar li a:hover{
    
    color: #21a521;
    transition: transform 0.25s ease-out ;
}
#navbar li a:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    bottom: -4px;
    position: absolute;
    left: 0px;
    background: #21a521;
    animation: underlineit 0.3s ease-in-out ;
    
}

#navbar .sbar{
    display: flex ;
    z-index: 2;
}
#navbar .sbar input{
    font-size: 1rem;
    font-weight:600;
    width: 335px;
    height: 32px;
    padding: 0px 8px;
    /* top rigth bottom left */
    border-radius: 10px;
    border: none;
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
    transition: 0.2s ease-in-out;
}
#navbar .sbar input:focus{
    outline: none;
    width: 700px;
    position: relative;
}
#navbar .sbar ::placeholder{
    position: relative;
    color: #f77842;
    left: 43%;

}

@keyframes underlineit{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

/* default for all buttons  */
button {
    height: 32px;
    padding: 5px 15px;
    /* background-color: #20dbc2; */
    border: none;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid #cdcdcd;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}
.main .head button:hover{
    background-color: #f77842;
}

/* container */

.main .container{
    height: 84vh;
    width: 100%;
    overflow: auto;
}


.main .container::-webkit-scrollbar{
    display: none;
}

.main .container .top{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36%;
    /* border: 1px solid #21a521; */
}
.main .container .top img{
    height: 85%;
    margin: 0 2%;
    top: 4%;
    border-radius: 50%;
    border: 4px solid #03c7c0;
}

.main .container .top p{
    width: 40%;
    height: 50%;
    overflow: auto;
    font-size: 20px;
}
.main .container .top p::-webkit-scrollbar{
    display: none;
}

.main .container .top button{
    margin: 0 1%;
    height: 40px;
    width: fit-content;
}

.main .container .top #play{
    background-color: #55fff9;
}

.main .container .top #play:hover{
    background-color: #23f1ea;
}
.main .container .top #add:hover{
    border: 1px solid #03c7c0;
}

.main .container .content{
    width: 100%;
    height: 64%;
    /* border: 1px solid #23f1ea; */ 
}

.main .container .content .list{
    width: 100%;
    height: auto;
    /* border: 1px solid #f77842; */
    position: relative;
}

.main .container .content .list .bi-chevron-left,
.main .container .content .list .bi-chevron-right{
    position: absolute;
    font-size: 25px;
    top: 43%;
    left: 1%;
    opacity: 0.1;
    font-weight: 900px;
    transition: all 0.3s ease-in-out;
}

.main .container .content .list .bi-chevron-right{
    left: auto;
    right: 1%;
}

.main .container .content .list:hover .bi-chevron-left,
.main .container .content .list:hover .bi-chevron-right{
    opacity: 1;
}

.main .container .content .list h3{
    margin: auto;
    margin-top: 5px;
    font-size: 25px;
    padding: 4px 0px 0px 12px;
    /* top right bootom left */
    width: 94%;
    height: 30px;
    /* border: 1px solid #000000; */
}

.main .container .content .list .songs{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow-x: auto;
    scroll-behavior:smooth;
    /* to make ssmooth scrolling  */
    margin:auto;
    width: 94%;
    height: calc(100% - 30px);
    height: 180px;
    /* border: 1px solid #000000; */
}

.main .container .content .list .songs::-webkit-scrollbar{
    display: none;
}

.main .container .content .list .songs li{
    position: relative;
    height: 100%;
    width: 145px;
    list-style-type: none;
    /* border: 1px solid #03c7c0; */
}

.main .container .content .list .songs li:hover{
    border-radius: 10px;
    background: rgba(236, 236, 236, 0.9);
}


.main li .image_play{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border: 1px solid #a54021; */
    width: 150px;
    height: 140px;
}

/* .main .container .content .list .songs li .image_play::after{
    content: '';
    height: 125px;
    width: 125px;
    position: absolute;
    border-radius: 10px;
    opacity: 1;
    box-shadow: inset 2px 2px 3px rgba(49, 199, 249, 0.6);
    background: #4b4949;
} */

.main .container .content .list li img{
    width: 125px;
    height: 125px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 1px 6px rgb(0,0,0,0.6);
}

.main .container .content .list li .play_icon{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
}

.main .container .content .list li:hover .play_icon{
    opacity:0.9;
}

.main .container .content .list .songs li h4{
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.main .container .content .list .songs li h5{
    width: 80%;
    margin: 0px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*Artist*/


.main .container .content .list .artists{
    display: flex;
    align-items: center;
    justify-content:space-between;
    overflow-x: auto;
    margin:auto;
    width: 94%;
    height: 145px;
    /* border: 1px solid #000000; */
}

.main .container .content .list .artists::-webkit-scrollbar{
    display: none;
}

.main .container .content .list .artists li{
    position: relative;
    height: 100%;
    width: 120px;
    list-style-type: none;
    /* border: 1px solid #03c7c0; */
}


.main .container .content .list .artists li .image_play{
    /* border: 1px solid #a54021; */
    width: 120px;
    height: 110px;
}

.main .container .content .list .artists li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.main .container .content .list .artists li .play_artist{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
}

.main .container .content .list .artists li:hover .play_artist{
    opacity:0.9;
}

.main .container .content .list .artists li h4{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:unset;
    text-overflow:unset;
    white-space:unset;
}

/* queue */

.main .queue{
    background-color:#f7f7f7;
    position: absolute;
    overflow: auto;
    height: 40px;
    width: 60px;
    left: 48%;
    border: 2px solid #03c7c0;
    border-radius: 8px;
    bottom:calc(8vh - 4px) ;
    /* bottom:8vh; */
    /* left: 35%;
    width: 30%;
    height:70vh; */
    transition:all 0.5s ease-in-out;
}

.main .queue:hover{
    left: 35%;
    width: 30%;
    height:70vh;
}

.main .queue::-webkit-scrollbar{
    display: none;
}

.main .queue .queue_head{
    border-bottom:1px solid #cdcdcd;
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    z-index: 2;
    background-color: #f7f7f7;
    
}

.main .queue .queue_head h3{
    position: absolute;
    top: 9px;
    left: 3%;
}

.main .queue .queue_head .queue_buttons{
    display: none;
    /* display: block; */
    position: absolute;
    top: 7px;
    right: 2%;
}

.main .queue:hover .queue_buttons{
    display: block;
}
/* change in queue buttons on hovering queue */

.main .queue .queue_head button{
    height: 25px;
    padding: 5px 12px;
    border: 1px solid #cdcdcd ;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.main .queue .queue_head .add{
    background-color: #55fff9;
}

.main .queue .queue_head .add:hover{
    background-color: #23f1ea;
}

.main .queue .queue_head .remove:hover{
    border: 1px solid #55fff9 ;   
}

.main .queue li{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 4px 2px;
    
    /* padding: 8px 4px; */
}

/* .main .queue li:hover{
    background: rgba(230, 230, 230, 0.9);
} */

.main .queue li div{
    width:75%;
}

.main .queue li .image_play{
    width: 40px;
    height: 40px;
}

.main .queue li img{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    position: relative;
}

.main .queue li .image_play .play_icon{
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
}

.main .queue li .image_play .play_icon:hover{
    opacity:0.9;
}

.main .queue li h4,
.main .queue li h5{
    width: 80%;
    font-size: 13px;
    padding: 1px 0px;
    margin: 0px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    /* for showing dots */
    white-space: nowrap;
}

.main .queue li i{
    font-size: 20px;
}

/* music player */

.main .music_player{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    width: 100%;
    background-color: #f7f7f7;
    box-shadow: 0 -5px 15px rgb(0,0,0,0.6);
    position: sticky ;
}
 .music_player .progress_bar{
    position: absolute;
    height: 4px;
    width: 100%;
    width: calc(100% - 1px);
    background-color:#cdcdcd;
    border-radius: 5px;
    top: -4px;
    left: 0;
    /* margin: 0 2px; */
 }

 .music_player .progress_bar #played_length{
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 4px;
    cursor: pointer;
    opacity: 0;
 }

 .music_player .progress_bar #bar{
    position: absolute;
    height: 100%;
    width:0%;
    border-radius: 5px;
    background-color:#03c7c0;
    transition: all 1s linear;
 }

 /* .music_player .progress_bar #bar{

 } */

 .music_player .progress_bar #bar #point{
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #03c7c0;
    box-shadow: 1px 0 2px rgba(49, 199, 249, 0.6);
    top: -1px;
    right: -1px;
 }

.music_player .song_detail{
    display: flex;
    align-items: center;
    /* width: 30%; */
    min-width: 280px;
}

.music_player .song_detail img{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    margin: 4px;
}

.music_player .song_detail #currentsong{
    width: 30%;
}

.music_player .song_detail h5{
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 .music_player .icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    min-width:175px;
 }

 .music_player .icons .play{
    font-size: 30px;
 }

 .music_player .icons .bi{
    
 }

 .music_player .bi-repeat{
    
 }
 .music_player .bi-repeat-1{  
    display: none;
 }
 .music_player .bi-shuffle{
    display: none;
 }
 .music_player .bi-music-note-list{

 }
/* .music_player .bi-music-note-list:hover ~ .queue{
    height: 50vh;
} */

 .music_player .music_time{
    font-weight: 600;
 }

.music_player .bi{
    font-size: 25px;
}
.music_player .bi-volume-mute-fill{
    display: none;
}
.music_player .bi-volume-up-fill{
    display: block;
}
.music_player .bi-volume-down-fill{
    display: none;
}






