<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <!-- ../ to go one folder back -->
    <title>Avishkar</title>
</head>
<body>
    <div class="main">
        <section class="head">
            <ul id="navbar"> 
                <div id="navleft" style="display: flex;position: absolute; left: 2px;">
                    <a href="#"><img id="logo" src="#" alt="" class="logo"></a>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">My Playlist</a></li>
                </div>
                
                <div class="sbar">
                    <input type="search" placeholder="Search" aria-label="Search">
                    <li><button>Search</button></li>
                </div>
                
                <div id="navright" style="display: flex;position: absolute; right: 2px;">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </div>
            </ul>   
        </section>
        <section class="container">
            <div class="top">
                <img src="../images/artist1.jpg" alt="">
                <p id="demo">Arijit Singh is an Indian musician, singer, composer, music producer, recordist and a music programmer. At the start of his singing career, he received nominations for the Upcoming Male Vocalist of the Year award at the 2013 Mirchi Music Awards for renditions of "Phir Le Aya Dil" and "Duaa", winning the award for the latter.</p>
                <button id="play">Play</button>
                <button id="add"><i class="bi bi-plus-circle" style="margin-right: 4px ;"></i>Add to Favorites</button>
            </div>
            <div class="content">     
                <div class="list" id="list01">
                    <i class="bi bi-chevron-left"></i>
                    <h3>Top Songs</h3>
                    <div class="songs">  
                    </div>
                        <i class="bi bi-chevron-right"></i>
                </div>
                <div class="list" id="list02">
                    <i class="bi bi-chevron-left"></i>
                    <h3>Top Artists</h3>
                    <div class="songs artists">
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
                <div class="list" id="list03">
                    <i class="bi bi-chevron-left"></i>
                    <h3>Top Songs</h3>
                    <div class="songs">            
                    </div>
                    <i class="bi bi-chevron-right"></i>
                </div>
            </div>
        </section>
        <section class="queue">
            <div class="queue_head">
                <h3>Queue</h3>
                <div class="queue_buttons">
                    <button class="add">Add</button>
                    <button class="remove">Remove</button>
                </div>
            </div> 
        </section>
        <section class="music_player">

            <div class="progress_bar">
                <input type="range" name="" id="played_length" min="0" max="100" value="0">
                <div id="bar">
                    <div id="point"></div>
                </div>
            </div>        
            
            <div class="song_detail" >
                <img id="current_image" src="../images/song1.jpg" alt="">
                <div id="current_song">
                    <h4>Deva Deva (From "Brahmastra")</h4>
                    <h5>Pritam, Arijit Singh, Jonita Gandhi, Amitabh Bhattacharya, T Series</h5>
                </div>
            </div>
            
            <div class="icons">
            <i class="bi bi-repeat"></i>
            <i class="bi bi-repeat-1"></i>
            <i class="bi bi-shuffle"></i>
            <i class="bi play bi-skip-start-fill"></i>
            <i id="music_play_icon" class="bi play bi-play-fill"></i>
            <i class="bi play bi-skip-end-fill"></i>
            <i class="bi bi-download"></i>
            </div>

            <div class="music_time" style="display:flex;">
                <div id="current_time">00:00</div>
                <span>/</span>
                <div id="end_time">05:41</div>
            </div>
            
            <div class="volume">
                <i class="bi bi-volume-up-fill" id="volume_icon"></i>
                <input type="range" name="" id="current_volume" min="0" max="100" value="0">
                
            </div>

            <!-- <i class="bi bi-volume-mute-fill"></i>
            <i class="bi bi-volume-up-fill"></i>
            <i class="bi bi-volume-down-fill"></i> -->
        </section>
    </div>
</body>
<script type="module" src="../js/main.js"></script>
</html>