<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/main.css">
    <!-- ../ to go one folder back -->
    <title>Avishkar</title>
</head>
<body>
    <div class="main">
        <section class="head">
            <ul id="navbar"> 
                <div id="navleft" style="display: flex;position: absolute; left: 2px;">
                    <a href="#"><img id="logo" src="#" alt="" class="logo"></a>
                    <li><a href="#">Music</a></li>
                    <li><a href="#">My Playlist</a></li>
                </div>
                
                <div class="sbar">
                    <input type="search" placeholder="Search" aria-label="Search">
                    <li><button>Search</button></li>
                </div>
                
                <div id="navright" style="display: flex;position: absolute; right: 2px;">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Sign Up</a></li>
                </div>
            </ul>   
        </section>
        <!-- <section class="left_side"></section> -->
        <section class="container">
            <div class="top">
                <img src="../images/artist1.jpg" alt="">
                <p>Arijit Singh is an Indian musician, singer, composer, music producer, recordist and a music programmer. At the start of his singing career, he received nominations for the Upcoming Male Vocalist of the Year award at the 2013 Mirchi Music Awards for renditions of "Phir Le Aya Dil" and "Duaa", winning the award for the latter.</p>
                <button id="play">Play</button>
                <button id="add"><i class="bi bi-plus-circle" style="margin-right: 4px ;"></i>Add to Favorites</button>
            </div>
            <div class="content">
                <div class="list" id="list01">
                    <h3>Top Songs</h3>
                    <!-- <i class="bi bi-chevron-left"></i>
                    <i class="bi bi-chevron-right"></i> -->
                    <div class="songs">
                        <li id="song1">
                            <div class="image_play">
                                <img src="../images/song1.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Deva Deva (From "Brahmastra")</h4>
                                <h5>Pritam,Arijit Singh, Amitabh Bhattacharya, Jonita Gandhi, T Series</h5>
                            </div>
                        </li>
                        <li id="song2">
                            <div class="image_play">
                                <img src="../images/song2.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Tu Hi Hai</h4>
                                <h5>Rahul Mishra</h5>
                            </div>
                        </li>
                        <li id="song3">
                            <div class="image_play">
                                <img src="../images/song3.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Aaj Phir</h4>
                                <h5>Arko, Laxmikant - Pyarelal, Arijit Singh, Samira Koppikar</h5>
                            </div>
                        </li>
                        <li id="song4">
                            <div class="image_play">
                                <img src="../images/song4.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Saanson Ko</h4>
                                <h5>Toshi Sabri, Arijit Singh ft. Sharib Toshi & Arijit</h5>
                            </div>
                        </li>
                        <li id="song5">
                            <div class="image_play">
                                <img src="../images/song5.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Humdard</h4>
                                <h5>Mithoon, Arijit Singh</h5>
                            </div>
                        </li>
                        <li id="song6">
                            <div class="image_play">
                                <img src="../images/song6.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Main Tenu Samjhawan - Reprise</h4>
                                <h5>Pawni Pandey</h5>
                            </div>
                        </li>
                        <li id="song7">
                            <div class="image_play">
                                <img src="../images/song7.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Baaton Ko Teri</h4>
                                <h5>Arijit Singh, Himesh Reshammiya</h5>
                            </div>
                        </li>
                        <li id="song8">
                            <div class="image_play">
                                <img src="../images/song8.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Muskurane (Romantic)</h4>
                                <h5>Jeet Gannguli, Arijit Singh</h5>
                            </div>
                        </li>
                        <li id="song9">
                            <div class="image_play">
                                <img src="../images/song9.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Bandeya (From "Dil Juunglee")</h4>
                                <h5>Toshi Sabri ft. Arijit Singh</h5>
                            </div>
                        </li>
                        <li id="song10">
                            <div class="image_play">
                                <img src="../images/song10.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Agar Tum Saath Ho</h4>
                                <h5>Alka Yagnik, Arijit Singh</h5>
                            </div>
                        </li>
                        <li id="song11">
                            <div class="image_play">
                                <img src="../images/song11.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Baarish Mein Tum</h4>
                                <h5>Neha Kakkar, Rohanpreet Singh, ShowKidd, Harsh Kargeti</h5>
                            </div>
                        </li>
                        <li id="song12">
                            <div class="image_play">
                                <img src="../images/song12.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Gali Gali</h4>
                                <h5>Neha Kakkar</h5>
                            </div>
                        </li>
                        <li id="song13">
                            <div class="image_play">
                                <img src="../images/song13.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Taaron Ke Shehar</h4>
                                <h5>Neha Kakkar, Jubin Nautiyal, Jaani</h5>
                            </div>
                        </li>
                        <li id="song14">
                            <div class="image_play">
                                <img src="../images/song14.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Yaad Piya Ki Aane Lagi</h4>
                                <h5>Neha Kakkar, Tanishk Bagchi</h5>
                            </div>
                        </li>
                        <li id="song15">
                            <div class="image_play">
                                <img src="../images/song15.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>O Sajna</h4>
                                <h5>Neha Kakkar, Tanishk Bagchi, Jaani, Lalit Sen</h5>
                            </div>
                        </li>
                        <li id="song16">
                            <div class="image_play">
                                <img src="../images/song16.jpg" alt="">
                                <img class="play_icon" src="../images/play.svg" alt="">
                            </div>
                            <div>
                                <h4>Hai Dil Ye Mera </h4>
                                <h5>Mithoon, Arijit Singh</h5>
                            </div>
                        </li>
                        
                    </div>
                </div>
                <div class="list" id="list02"></div>
                <div class="list" id="list03"></div>
            </div>
        </section>
        <section class="queue">
            <div class="queue_head">
                <h3>Queue</h3>
                <div class="queue_buttons">
                    <button class="add">Add</button>
                    <button class="remove">Remove</button>
                </div>
                
            </div> 
            <li id="song1">
                <img src="../images/song1.jpg" alt="">
                <div>
                    <h5>Deva Deva (From "Brahmastra")</h5>
                    <h5>Pritam,Arijit Singh, Amitabh Bhattacharya, Jonita Gandhi, T Series</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song2">
                <img src="../images/song2.jpg" alt="">
                <div>
                    <h5>Tu Hi Hai</h5>
                    <h5>Rahul Mishra</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song3">
                <img src="../images/song3.jpg" alt="">
                <div>
                    <h5>Aaj Phir</h5>
                    <h5>Arko, Laxmikant - Pyarelal, Arijit Singh, Samira Koppikar</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song4">
                <img src="../images/song4.jpg" alt="">
                <div>
                    <h5>Saanson Ko</h5>
                    <h5>Toshi Sabri, Arijit Singh ft. Sharib Toshi & Arijit</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song5">
                <img src="../images/song5.jpg" alt="">
                <div>
                    <h5>Humdard</h5>
                    <h5>Mithoon, Arijit Singh</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song6">
                <img src="../images/song6.jpg" alt="">
                <div>
                    <h5>Main Tenu Samjhawan - Reprise</h5>
                    <h5>Pawni Pandey</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song7">
                <img src="../images/song7.jpg" alt="">
                <div>
                    <h5>Baaton Ko Teri</h5>
                    <h5>Arijit Singh, Himesh Reshammiya</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song8">
                <img src="../images/song8.jpg" alt="">
                <div>
                    <h5>Muskurane (Romantic)</h5>
                    <h5>Jeet Gannguli, Arijit Singh</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song9">
                <img src="../images/song9.jpg" alt="">
                <div>
                    <h5>Bandeya (From "Dil Juunglee")</h5>
                    <h5>Toshi Sabri ft. Arijit Singh</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song10">
                <img src="../images/song10.jpg" alt="">
                <div>
                    <h5>Agar Tum Saath Ho</h5>
                    <h5>Alka Yagnik, Arijit Singh</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song11">
                <img src="../images/song11.jpg" alt="">
                <div>
                    <h5>Baarish Mein Tum</h5>
                    <h5>Neha Kakkar, Rohanpreet Singh, ShowKidd, Harsh Kargeti</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song12">
                <img src="../images/song12.jpg" alt="">
                <div>
                    <h5>Gali Gali</h5>
                    <h5>Neha Kakkar</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song13">
                <img src="../images/song13.jpg" alt="">
                <div>
                    <h5>Taaron Ke Shehar</h5>
                    <h5>Neha Kakkar, Jubin Nautiyal, Jaani</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song14">
                <img src="../images/song14.jpg" alt="">
                <div>
                    <h5>Yaad Piya Ki Aane Lagi</h5>
                    <h5>Neha Kakkar, Tanishk Bagchi</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song15">
                <img src="../images/song15.jpg" alt="">
                <div>
                    <h5>O Sajna</h5>
                    <h5>Neha Kakkar, Tanishk Bagchi, Jaani, Lalit Sen</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
            <li id="song16">
                <img src="../images/song16.jpg" alt="">
                <div>
                    <h5>Hai Dil Ye Mera </h5>
                    <h5>Mithoon, Arijit Singh</h5>
                </div>
                <i class="bi bi-plus-circle"></i>
            </li>
        </section>
        <section class="music_player">
            
            
            <div class="song_detail" >
                <img src="../images/song1.jpg" alt="">
                <div>
                    <h4>Deva Deva (From "Brahmastra")</h4>
                    <h5>Pritam, Arijit Singh, Amitabh Bhattacharya, Jonita Gandhi, T Series</h5>
                </div>
            </div>
            
            <div class="icons">
            <i class="bi bi-repeat"></i>
            <i class="bi bi-repeat-1"></i>
            <i class="bi bi-shuffle"></i>
            <i class="bi play bi-skip-start-fill"></i>
            <i class="bi play bi-play-fill"></i>
            <i class="bi play bi-pause-fill"></i>
            <i class="bi play bi-skip-end-fill"></i>
            <i class="bi bi-download"></i>
            </div>

            <div class="music_time">
                <div class="current_time">00:00</div>
                <div class="progress_bar">
                    <div class="bar">
                        <div class="point"></div>
                    </div>
                </div>
                <div class="end_time">04:53</div>
            </div>
            
            
        </section>
    </div>
    
</body>
</html>